@model IEnumerable<webplatform.Models.Board>

@{
    ViewBag.Title = "Projekter";
}

<div class="jumbotron">
    <h1>Hej {bruger}</h1>
    <p class="lead">Her er en liste over dine tilmeldte projekter</p>
</div>

<div class="row">
    @if (Model != null)
    {
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                            <input type="submit" value="Søg" class="btn btn-default" />
                        </span>
                            <input type="search" name="search" value="@ViewBag.search" class="form-control" placeholder="Søg...">
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        Projekt navn
                    </th>
                    <th>
                        Sidst opdateret
                    </th>
                    <th>
                        Oprettet
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var board in Model)
                {
                    <tr class="clickable-row" data-href="@Url.Action("Index", "Board", new { id = board.id})">
                        <td>
                            @board.name
                        </td>
                        <td>
                            @board.updated_at.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @board.created_at.ToString("dd-MM-yyyy")
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
}
