@model webplatform.Models.Board
@{
    ViewBag.Title = String.Format("Opgaver for {0}", Model.title);
}

<div class="row">

    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <a id="new-job" data-fancybox-type="iframe" href="@Url.Content("~/Form/Job/")">Opret et job</a> |
        <a id="new-card" data-fancybox-type="iframe" href="@Url.Content("~/Form/AddCard/")@ViewContext.RouteData.Values["id"]">Opret et Card</a>

    </div>

    <div class="col-md-12" id="content">

        @foreach(var job in Model.jobs.OrderBy(x => x.weight_id))
        {
            <ul class="list-group pull-left borderless fixed-width" data-id="@job.id">

                <li class="list-group-item item-header main-body">
                    <h3 class="list-group-item-heading">
                        @job.title
                        <div class="editing pull-right"></div>
                    </h3>
                </li>
                <div class="list-items">
                    @foreach(var card in job.Cards)
                    {
                        <li class="list-group-item feet">
                            <a href="@Url.Content("~/Form/Card/" + card.id)" data-fancybox-type="iframe" class="editing pull-right"></a>
                            <h5 class="list-group-item-heading">
                                @card.title
                            </h5>
                            <p class="list-group-item-text">
                                @card.description
                            </p>
                        </li>
                    }
                </div>
            </ul>
        }
    </div>
</div>
@section scripts
{
    <script>
        function test(msg) {
            alert(msg);
        }

        $(document).ready(function() {

            /*Fancybox*/
            $("a#new-job, a.editing, a#new-card").fancybox({
                fitToView: true,
                autoSize: true
            });
            /*Fancybox END*/

            /*Draggable JQuery UI*/
            $(".list-items").sortable({
                revert: true
            });
            $("ul, li").disableSelection();
            $("#content").sortable({ revert: true });
            $(".feet").draggable({
                connectToSortable: ".list-items",
                revert: "invalid"
            });

            $(document).on("mouseup", ".feet", function() {
                //Ajax request to update which job and weight we have been placed in.
            });

            $(document).on("mouseup", ".list-items", function () {
                //Ajax request to update which job and weight we have been placed in.
            });

            /*Draggable JQuery UI END*/

            /*JQUERY*/
            $(document).on("click", ".main-body div.editing", function() {
                var parent = $(this).parent().parent();
                var content = $(this).parent();
                parent.html('<input class="form-control" id="job-header" name="job-header" type="text" value="' + content.text().trim() + '" />');
                parent.children("input").focus();
            });

            $(document).on("keypress", "#job-header", function(e) {
                if (e.which == 13) {
                    var parent = $(this).parent();
                    parent.html('<h3 class="list-group-item-heading">' + $(this).val() + '<div class="editing pull-right"></div></h3>');
                }
            });

            $(document).on("focusout", "#job-header", function(e) {
                var parent = $(this).parent();
                parent.html('<h3 class="list-group-item-heading">' + $(this).val() + '<div class="editing pull-right"></div></h3>');
            });
            /*JQUERY END*/

        });
    </script>
}

