@using webplatform.Models
@model Board
@{
    ViewBag.Title = String.Format("Opgaver for {0}", Model.title);
    List<Card> cards = (List<Card>)ViewData["Cards"];
    List<Job> jobs = (List<Job>)ViewData["Jobs"];
    List<int> jobIds = new List<int>();
}

<div class="row">

    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        @*<a id="new-job" href="#">Opret et job</a>*@
        <a id="new-job" data-fancybox-type="iframe" href="@Url.Content("~/Form/Card/1")">Opret et job</a>

    </div>

    <div class="col-md-12" id="content">

        @foreach (var job in jobs.Where(x => x.BoardId == Model.id).OrderBy(x => x.weight_id))
        {
            <ul class="list-group pull-left borderless fixed-width">

                <li class="list-group-item item-header">
                    <h3 class="list-group-item-heading">
                        @job.title
                    </h3>
                </li>
                <div class="list-items">
                    @foreach (var card in cards.Where(x => x.job_id == job.id))
                    {
                        <li class="list-group-item feet">
                            <h5 class="list-group-item-heading">
                                @card.title
                            </h5>
                            <p class="list-group-item-text">
                                @card.description
                            </p>
                        </li>
                    }
                </div>
            </ul>
        }
    </div>
</div>
@section scripts
{
    <script>
        
        function test(msg) {
            alert(msg);
        }

        $(document).ready(function () {

            $("a#new-job").fancybox({
                fitToView: false,
                autoSize: false
            });

            //$("a#new-job").on("click", function (e) {
            //    e.preventDefault();
            //    var link = $(this).attr('href');
            //    var content = $.get(link, function(data) {
            //        return data;
            //    });

            //    console.log(content);
                
            //});

            $(".list-items").sortable({
                revert: true
            });

            $(".feet").draggable({
                connectToSortable: ".list-items",
                revert: "invalid"
            });

            $("ul, li").disableSelection();

            $(".item-header").on("mousedown", function() {
                $("#content").sortable({ revert: true });
            });

        });
    </script>
}

