@model webplatform.Models.Board
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Board</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/colorpicker")
</head>
<body>
@using (Html.BeginForm("Board", "Form", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.title)
        @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.description)
        @Html.TextAreaFor(x => x.description, new { @class = "form-control" })
    </div>

    <input type="submit" name="submit" value="SEND" class="btn btn-default" />
}
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-colorpicker")
</body>
</html>
