@model webplatform.Models.Card

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Cards</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/colorpicker")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-colorpicker")
</head>
<body>

@using (Html.BeginForm("Card", "Form", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.title)
        @Html.TextBoxFor(x => x.title, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.description)
        @Html.TextAreaFor(x => x.description, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.color)
        @Html.TextBoxFor(x => x.color, new {@class = "form-control", @id = "colorpicker"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.date)
        @Html.TextBoxFor(x => x.date, new {Value = Model.date.ToString("dd-MM-yyyy"), @Type = "datetime", @class = "form-control", @id = "datepicker"})
    </div>

    <input type="submit" name="submit" value="SEND" class="btn btn-default"/>
}
</body>
</html>
@if (ViewBag.isPost)
{
<script>
    //parent.test("what");
    parent.jQuery.fancybox.close();
</script>
}
<script>

    $('input[type="datetime"]').datepicker({ "dateFormat": "dd-mm-yyyy" });
    
    $('#colorpicker').ColorPicker({
        onSubmit: function (hsb, hex, rgb, el) {
            $(el).val(hex);
            $(el).ColorPickerHide();
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        },
        onChange: function (hsb, hex, rgb) {
            $('#colorpicker').val(hex);
        }
    }).bind('keyup', function () {
        $(this).ColorPickerSetColor(this.value);
    });
</script>