@using webplatform.Models
@model webplatform.Models.Card

@{
    Layout = null;
    string dato = (Model != null) ? Model.date.ToString("dd/MM/yyyy") : "";
    List<Job> jobs = (List<Job>)ViewData["jobs"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Cards</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/colorpicker")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>

@*<div class="col-xs-10 col-sm-offset-1 main-body">
    <div style="position: absolute; right: 15px; top: 0;" class="pull-right">
        <p class="editing"></p>
    </div>
    <h1 id="title">@Model.title</h1>
    <p id="description">@Model.description</p>
    <p class="text-right"><b id="dato">Skal være færdigt d. @dato</b>
    </p>
</div>*@
    <div class="row">
        @using (Html.BeginForm("Card", "Form", FormMethod.Post, new { @id = "form"}))
        {
            <div class="col-xs-10 col-sm-offset-1">
                <div class="form-group">
                    @Html.LabelFor(x => x.title)
                    @Html.TextBoxFor(x => x.title, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.description)
                    @Html.TextAreaFor(x => x.description, new {@class = "form-control", @rows = "4", @placeholder = "Beskrivelse..."})
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.job_id)
                    @Html.DropDownListFor(x => x.job_id, new SelectList(jobs, "id", "title"), new { @class = "form-control" })
                </div>
            </div>

            <div class="col-xs-10 col-sm-offset-1 form-inline">
                <div class="form-group" style="width: 48%;">
                    @Html.LabelFor(x => x.color)
                    @Html.TextBoxFor(x => x.color, new { @class = "form-control", @id = "colorpicker" })
                </div>

                <div class="form-group" style="width: 48%;">
                    @Html.LabelFor(x => x.date)
                    @Html.TextBoxFor(x => x.date, new { Value = dato, @Type = "datetime", @class = "form-control", @id = "datepicker" })
                </div>
            </div>

            <div class="col-xs-10 col-sm-offset-1">
                <div style="width: 100%; overflow: hidden; display: block; padding-top: 10px;" class="form-group">
                    <input type="submit" name="submit" value="SEND" class="btn btn-default pull-right" />
                </div>
            </div>
        }
        @*<div class="col-xs-10 col-sm-offset-1">
            <div class="form-group">
                @Html.Label("Kommentar", new { @For = "comment" })
                @Html.TextArea("comment", new { @class = "form-control", @rows = "4", @placeholder = "Kommentarer..." })
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="SEND" class="btn btn-default pull-right" />
            </div>
        </div>*@
    </div>
@*<div class="col-sm-offset-0 col-xs-12">
    <h3 style="cursor: pointer;" data-toggle="collapse" data-target="#toggle-comments">
        Vis kommentarer..
    </h3>
</div>

<div id="toggle-comments" class="collapse">
    @for (int i = 0; i < 4; i++)
    {
        <div class="col-xs-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    }
</div>*@
</body>
</html>

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-colorpicker")

@if (ViewBag.isPost)
{
<script>
    //parent.test("what");
    parent.jQuery.fancybox.close();
</script>
}
<script>

    //$(".editing, #form input[type='submit']").on("click", function (e) {
    //    e.preventDefault();
    //    $("#form, .main-body").toggle();
    //});

    //$("#form input[type='submit']").on("click", function(e) {
    //    var form = $("#form");
    //    var htmlFields = $(".main-body");

    //    htmlFields.find("#title").text(form.find('#title').val());
    //    htmlFields.find("#description").text(form.find('#description').val());
    //    htmlFields.find("#dato").text("Skal være færdigt d. " + form.find('#datepicker').val());
    //});

    $('input[type="datetime"]').datepicker({
        "dateFormat": "dd/mm/yy",
        orientation: "bottom left"
    });
    
    $('#colorpicker').ColorPicker({
        onSubmit: function (hsb, hex, rgb, el) {
            $(el).val('#' + hex);
            $(el).ColorPickerHide();
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        },
        onChange: function (hsb, hex, rgb) {
            $('#colorpicker').val('#' + hex);
        }
    }).bind('keyup', function () {
        $(this).ColorPickerSetColor(this.value);
    });
</script>